# --- Video Processing ---
torch==2.5.1
torchvision
opencv-python-headless
imageio[ffmpeg]
imageio-ffmpeg
numpy<2.0.0

# --- Sentiric Standards ---
protobuf>=7.34.0,<8.0.0
grpcio>=1.62.0
sentiric-contracts-py @ git+https://github.com/sentiric/sentiric-contracts.git@v1.25.0

# --- Infra ---
fastapi==0.104.1
uvicorn[standard]==0.24.0
pydantic>=2.6.0
structlog==24.4.0
boto3>=1.34.0
aio-pika>=9.4.0
python-json-logger>=2.0.7